<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
  <p><%= item.name%> - Created: <%=item.created_at.strftime("%m/%d/%Y")%> - <%= link_to "Delete", [item.user, item], method: :delete, remote: true %></p>
<% end %>
